.post-card {
    padding-bottom: 20px;
}

.post-info {    
    text-align: left;
    display: inline-block;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}

.username {    
   text-align: left;
   padding-left: 50px;
}

.comment-input {
    width: 100%;
    height: 100%;    
}

.thumb-image {
    width: 8%;
    height: 8%;
}
.heart-icon {
    display: block;
    width: 5%;
}
